# Ignorar arquivos de ambiente
.env

# Ignorar arquivos e diretórios do IntelliJ IDEA
.idea/
*.iml

# Ignorar o executável do chromedriver
chromedriver.exe

# Ignorar ambientes virtuais do Python
venv/

# Ignorar arquivos de dependências
node_modules/
*.log

# Ignorar arquivos de configuração do Docker
docker-compose.override.yml

# Ignorar arquivos de cache do Python
__pycache__/
*.py[cod]

# Ignorar arquivos de log
*.log

# Ignorar arquivos de imagem
images/

# Ignorar arquivos de usuario
.wwebjs_auth/
.wwebjs_cache/

# Ignorar arquivos temporários
tmp/*

# Ignorar socket do banco de dados
db_data/mysql.sock
